<div class="container my-5">
    <h1 class="mb-3">Angajati</h1>

    <table class="table" *ngIf="angajati">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Department</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor= "let angajat of angajati"> 
                <td>{{angajat.id}}</td>
                <td>{{angajat.name}}</td>
                <td>{{angajat.email}}</td>
                <td>{{angajat.phone}}</td>
                <td>{{angajat.salary}}</td>
                <td>{{angajat.department}}</td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="!angajati">Nu sunt angajati</p>
</div>